body {
margin-left: 225px;

}
.icon-block {
  padding: 0 15px;
}

nav .brand-logo {
	font-family: Oleo Script;
}

.oleo {
  font-family: Oleo Script;
}


#index-banner {
  height: 350px;
}

logo:before {
	font-family: Oleo Script;
	content: "mxious";
	font-size: inherit;
}

.oleo-f {
	font-family: Oleo Script;
	font-size: 28px;
}

.oleo-f sub {
  font-family: Roboto;
  font-size: 15px;
}
.main-container {
    margin-top: 75px;
    color: white;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    justify-content: center;
}

.main-container h1 {
      font-weight: 700;
    font-family: Lato;
    letter-spacing: -4px;
}



.parallax-container {
  height: 350px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.main-container h1 {
	margin-bottom: -5px;
	margin-top: -15px;
}

.main-container h5 {
	margin-bottom: 20px;
	font-family: Roboto;
	font-weight: 200;
}
#search-box {
  height: 50px;
  width: 500px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  resize: none;
  color: black;
}

@media screen and (max-width: 799px) {
    .parallax-dsp {display: none}
}

footer.page-footer {
	margin-top: 0px;
}
.layout-search {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}

.item { 
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.masonry {


}

#masonry[data-columns]::before {
  content: '3 .column.size-1of3';
}

.column { float: left; }
.size-1of3 { width: 33.333%; }

.item-masonry {
  min-width: 250px;
  max-width: 250px;
}
.item-masonry .card-image {
  max-width:100%;
  max-height:100%;
}
.item-avatar {
  max-width: 40px !important;
    margin-bottom: 10px;
    display: table-cell;
    vertical-align: bottom;
    margin: 0 auto;
    margin-top: 90%;
}
.link-item {
    margin-top: 10px;
    float: right;
    margin-right: -0.1px;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.post-content {
}

.login-panel {
  background-color:rgba(255, 255, 255, 0.);
  height: 65vh;
}

/* label color */
.input-field label {
 color: #9e9e9e;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #f57f17;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #f57f17;
 box-shadow: 0 1px 0 0 #f57f17;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #f57f17;
 box-shadow: 0 1px 0 0 #f57f17;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #f57f17;
 box-shadow: 0 1px 0 0 #f57f17;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #f57f17;
}

/* label color */
.input-field label {
 color: #9e9e9e;
}
/* label focus color */
.input-field input[type=password]:focus + label {
 color: #f57f17;
}
/* label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid #f57f17;
 box-shadow: 0 1px 0 0 #f57f17;
}
/* valid color */
.input-field input[type=password].valid {
 border-bottom: 1px solid #f57f17;
 box-shadow: 0 1px 0 0 #f57f17;
}
/* invalid color */
.input-field input[type=password].invalid {
 border-bottom: 1px solid #f57f17;
 box-shadow: 0 1px 0 0 #f57f17;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #f57f17;
} 

nav {
  width: 225px;
}
.action-bar {
  position: fixed;
  word-wrap: break-word;
  top: 0px;
  left: 0px;
  height: 100%;
  border-radius: 0px;
  border: 0px;
  margin-top: 0;
  line-height: inherit;
  padding-top: 25px;
}

.logo-bar {
  width: 225px;
  background-color: white;
  height: 65px;
}

.action-bar .btn-flat {
    width: 100%;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}

.action-bar .btn-flat i {
    font-size: 1rem;
}

.action-bar input {
  width: 85%;
  border: 1px solid #f57f17;
  border-radius: 3px;
  height: 35px;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
}

.action-bar input:focus {
  outline: none;
}

.action-bar footer {
  height: 100px;
  position:fixed;
  bottom:0px;
  width: 225px;
}

.action-bar footer a {  

  color: inherit;
  font-size: 13px;
}
.action-bar footer div {  
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.copy {
  color: gray;
  font-size: 12px;
}
.post-button {
  height:50px;
  padding-top: 8px;
}

/* We can't do the Materialize bringup yet until it is stable. Instead, bring the required (updated) css we need.) */
.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 2px;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
  will-change: top, opacity; }
  @media only screen and (max-width : 992px) {
    .modal {
      width: 80%; } }
  .modal h1, .modal h2, .modal h3, .modal h4 {
    margin-top: 0; }
  .modal .modal-content {
    padding: 24px; }
  .modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%; }
    .modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
      float: right;
      margin: 6px 0; }

#lean-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 115%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity; }

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%; }
  .modal.modal-fixed-footer .modal-content {
    position: fixed;
    max-height: 100%;
    padding-bottom: 64px;
    width: 100%;
    overflow-y: auto; }
  .modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0; }

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity; 
}

#post-modal {
  min-height: 85%;
  top: 7% !important;
}

#post-modal textarea {
  margin: 0px;
  width: 325px;
  height: 81px;
  border-radius: 4px;
  padding: 10px;
  border: 0;
}